.contactRow {
  display: flex;
  justify-content: space-between;
  padding: 1px 0;
}

.contactRow:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.1);
}

.contactItem {
  display: flex;
  align-items: center;
}

.contactInfo {
  display: flex;
  width: 270px;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
}

.name {
  font-size: 14px;
  max-width: 145px;
  margin-left: 4px;
  white-space: nowrap;
  overflow: hidden;
}

.number {
  display: flex;
  align-items: flex-end;
  width: 120px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 3px;
}

/*  */
.nameInput {
  padding: 0 2px;
  font-size: 12px;
  max-width: 145px;
  margin-left: 4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 5px;
  border: 0.5px solid #555;
  /* background: linear-gradient(45deg, #bbb, #eee, #bbb, #eee, #bbb); */
  background-color: #787;
  color: #fff;
}

.numberInput {
  padding: 0 3px;
  display: flex;
  align-items: flex-end;
  width: 115px;
  font-size: 12px;
  margin-left: 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 5px;
  border: 0.5px solid #555;
  background: linear-gradient(45deg, #bbb, #eee, #bbb, #eee, #bbb);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 3px;
  cursor: pointer;
}
