.form {
  margin-top: 16px;
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  font-size: 0.9em;
}

.legend {
  font-size: 0.8em;
  background-color: #ddd;
  border-radius: 3px;
  border: 1px solid #aaa;
}

.fieldset {
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.45) 8px 8px 6px -6px;
}

.form input:focus {
  border: 2px solid #777;
  border-radius: 3px;
}
