.filterContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 16px;
  position: relative;
}

.filter {
  display: block;
  margin: 0 3px;
  padding-left: 20px;
  width: 45%;
  outline: none;
  font-size: 0.8em;
}

.filter:focus {
  border: 2px solid #777;
  border-radius: 5px;
}

.iconContainer {
  position: absolute;
  left: 47%;
  display: flex;
  align-items: center;
}
