.form {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0 0 10px;
  text-align: center;
}

h2 {
  margin: 10px 0 8px;
}

.addBtn {
  /* height: 80%; */
  /* width: fit-content; */
  width: 20%;
  margin: 0;
  margin-top: 16px;
  cursor: pointer;
}

.label {
  font-size: 12px;
}

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  margin: 2px 0 5px;
}

.input:focus {
  border: 2px solid #777;
  border-radius: 3px;
}

.inputsWraper {
  width: 75%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
