.form {
  margin-top: -10px;
}

.list {
  margin: 0;
}

.fieldset {
  margin: 0;
  padding: 5px 5px;
  border: 1px solid #888;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.45) 8px 8px 6px -6px;
}

.legend {
  padding: 0 8px;
  font-size: 1em;
  background-color: #ddd;
  border-radius: 3px;
  border: 1px solid #888;
}
